body {
    background: rgb(0,0,0);
    text-align: center;
    margin: auto;
    top: 2px;
    left: 0px;
    right: 0px;
    padding: 2px;
    margin: 0px 2px;
}
nav {
    font-size: 1.2rem;
}

nav li{
    margin: 0 5%;
    padding: 0 0.5rem;
}
.contact-menu{
    margin-left: auto;
    margin-right: 2%;
}
.contact-menu li{
    margin-left:auto;
    margin-right: 3rem;
    padding: 0 5%;
}

.dropdown-menu li{
    padding: 0;
    text-align: center;
    margin: auto;
    justify-content: space-around;
}

.dropdown-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    margin: auto; 
    padding: 0.25rem 0.1rem;
}
/* 
media queries 
hemispheres
projects similar to gallery or albums with skill tags below them
bootstrap popups on the skills with descriptions about the tool used and how it was used
tabs or carousel for projects with descriptions on one side. Or rather
carousel on one side, with tabs for description, methodology, github, etc. on other side
light and dark theme switch
Reference for scolling transforms: https://www.apple.com/careers/nz/work-at-apple.html
https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/style
Can use above to change colors as scrolled
Can make section showing story at strive -> complete all projects one by one from starting weeks of strive and keep adding them there
*/
